@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap");

.landing-all-container {
  display: block;
}

/* top section!!! */

.landing-top-container {
  background-image: url("../site-images/background-image.jpg");
  background-attachment: local;
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
}

.landing-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}

.landing-button-div-signup {
  justify-content: center;
  display: flex;
  position: absolute;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: transparent 0px 0px 0px 1px inset;
  text-decoration: none;
  text-align: center;
  color: rgb(73, 73, 73);
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  height: 40px;
  width: 87.55px;
  margin-right: 20px;
}

.landing-button-div-login {
  justify-content: center;
  display: inline-flex;
  position: absolute;
  border: none;
  cursor: pointer;
  margin-right: 100px;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  height: 40px;
  width: 87.55px;
}

.landing-button-div-login:hover {
  color: rgb(73, 73, 73);
}

.landing-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em 0;
}

.landing-container-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  margin: 0 3em;
}

.landing-logo {
  justify-content: center;
  display: inline-flex;
  position: absolute;
  text-decoration: none;
  height: 20px;
  margin-right: 870px;
}

.landing-site-title {
  margin-top: 0;
  font-size: 30px;
  font-family: "Maven Pro", sans-serif;
  position: relative;
  align-items: center;
  margin: 45%;
  font-weight: bold;
}

.landing-subtitle {
  font-family: "Maven Pro", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  color: rgb(255, 255, 255);
  text-align: center;
  display: block;
  margin-top: 120px;
}

/* # second section */

.landing-lower-section {
  /* display: block; */
  height: 420px;
}
.landing-second-section-message {
  font-family: "Maven Pro", sans-serif;
  color: rgb(25, 25, 25);
  display: flex;
  align-items: center;
  margin-top: 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-left: 400px;
}

.featured-restaurants-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 800px;
  margin-left: 25%;
}
.featured-rest-image {
  height: 177px;
  width: 165px;
  margin: 4px;
  border-radius: 8px;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  object-fit: cover;
  display: block;
}
.featured-restaurant-name {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.04ch;
  font-family: "Maven Pro", sans-serif;
  text-transform: none;
  color: rgb(25, 25, 25);
  font-variant-ligatures: no-common-ligatures;
}
.featured-restaurant-list {
  display: block;
  padding: 20px;
  margin-top: 8px;
  height: 177px;
  width: 165px;
}

/* # third section */

.landing-third-container {
  /* display: block; */
  height: 400px;
}

.landing-third-section-message {
  font-family: "Maven Pro", sans-serif;
  color: rgb(25, 25, 25);
  display: flex;
  align-items: center;
  margin-top: 200px;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-left: 400px;
}

.landing-third-section-header {
  margin-top: -200px;
}

.third-secion-sub-message {
  width: 350px;
  font-family: "Maven Pro", sans-serif;
  color: rgb(25, 25, 25);
  display: flex;
  align-items: center;
  margin-top: -50px;
  font-weight: 200;
  font-size: 20px;
  line-height: 25px;
  margin-left: -173px;
}
.donut-image {
  width: 740px;
}
/* # fourth section */

.landing-fourth-container {
  height: 600px;
  background: rgb(255, 240, 237);
  display: flex;
}

.landing-fourth-section-message {
  font-family: "Maven Pro", sans-serif;
  color: rgb(25, 25, 25);
  display: flex;
  position: relative;
  align-items: inline-flex;
  margin-top: 220px;
  padding-left: 30px;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  /* margin-left: 400px; */
}

.fourth-section-sub-message {
  width: 350px;
  font-family: "Maven Pro", sans-serif;
  color: rgb(25, 25, 25);
  display: flex;
  align-items: center;
  margin-top: 30px;
  font-weight: 200;
  font-size: 20px;
  line-height: 25px;
  /* position: relative; */
  margin-left: -332px;
}

.brownie-image {
  width: 700px;
  padding-top: 100px;
  padding-bottom: 50px;
  margin-left: 300px;
  display: flex;
}

.landing-fourth-section {
  display: flex;
}
