@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap");

.navbar-navgation {
  /* position: sticky; */
  width: 100%;
  height: 48px;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(214, 214, 214);
}

.navbar-logo {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  height: 27px;
  vertical-align: middle;
  font-size: 22px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
  color: red;
}

.navbar-image {
  height: 27px;
  padding-right: 5px;
}

.navbar-toggle-menu {
  height: 27px;
}

.navbar-address {
  display: inline-flex;
}

.navbar-preset-address {
  font-size: 15px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
  color: red;
}

.navbar-to-address {
  font-size: 14px;
  font-family: "Maven Pro", sans-serif;
  color: black;
  padding-left: 4px;
  padding-right: 4px;
}
