@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap");

.navbar-container {
  position: fixed;
  width: 100%;
  top: 0px;
  display: flex;
  z-index: 100;
  background-color: rgb(255, 255, 255);
}

.navbar-navgation {
  height: 49px;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(214, 214, 214);
}

.navbar-logo {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  height: 27px;
  vertical-align: middle;
  font-size: 22px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
  color: red;
  padding-right: 200px;
}

.navbar-image {
  height: 27px;
  padding-right: 5px;
}

.navbar-toggle-menu {
  height: 27px;
  padding-right: 50px;
}

.navbar-address {
  display: inline-flex;
  padding-right: 320px;
}

.navbar-preset-address {
  font-size: 15px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
  color: red;
}
.navbar-preset-address-2 {
  font-size: 15px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
  color: red;
  width: 250px
}

.navbar-to-address {
  font-size: 14px;
  font-family: "Maven Pro", sans-serif;
  color: black;
  padding-left: 4px;
  padding-right: 4px;
}

.narbar-search-container {
  padding-right: 10px;
  padding-left: 50px;
}

/* unath */

.navbar-unath-container {
  /* position: fixed; */
  width: 100%;
  top: 0px;
  height: 49px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(214, 214, 214);
}

.navbar-unauth-image {
  height: 27px;
  padding-right: 5px;
}

.navbar-navgation {
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  font-size: 22px;
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
  color: red;
}

.navbar-cart-container {
  /* margin-right: 120px;
  margin-top: 10px;
  display: inline-flex;
  height: 40px;
  cursor: pointer; */
  z-index: 1;
    position: fixed;
    top: 0px;
    right: 0px;
}
