@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap");

.store-info-container {
  margin: 0;
  padding: 0px;
  border: 0;
  font-size: 100%;
  text-decoration: none;
  display: block;
}

.store-header-container {
  position: relative;
  max-width: 1200px;
  margin: 80px auto 0px;
  padding: 0px 16px 16px;
}

.store-header-name {
  font-size: 50px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: #191919;
  display: block;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
}

.store-header-hours {
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: #767676;
  display: block;
  margin: 0px;
  padding: 0px;
}

.store-header-genres {
  /* width: 180px; */
  display: flex;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: #767676;
  padding-right: 6px;
  text-decoration: none;
}

.store-header-genres span {
  padding-right: 10px;
}

.store-distance {
  display: flex;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: #767676;
  padding-right: 10px;
}

.store-header-rating {
  display: flex;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: #767676;
  padding-right: 10px;
}

.grey-star {
  display: flex;
  height: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: #767676;
  padding-right: 0px;
  padding-left: 5px;
  padding-top: 2px;
}

.store-header-price {
  display: flex;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: #767676;
}
.bullet-point-between {
  display: flex;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: #767676;
  padding-right: 10px;
}

.rating-price-container {
  display: flex;
}

.delivery-header-info-container {
  border: 1px solid rgb(231, 231, 231);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 8px;
  width: 350px;
  margin-left: 244px;
}

.delivery-fee-container {
  flex: 1 1 0%;
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 52px;
  border-radius: 8px;
}
.delivery-fee-amount-dollar {
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: rgb(25, 25, 25);
  margin: 0px;
  padding: 0px;
  padding-top:6px;
  display: block;
}


.delivery-fee-amount-name {
  max-width: 100%;
  align-items: center;
  justify-content: flex-start;
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: rgb(118, 118, 118);
  margin: 0px;
  padding: 0px;
  display: block;
}

.delivery-time-container {
  flex: 1 1 0%;
  margin: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 52px;
  border-radius: 8px;
}


.line-between {
  width: 1px;
  height: 28px;
  background-color: rgb(231, 231, 231);
}

.delivery-amount-time {
  max-width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: rgb(25, 25, 25);
  margin: 0px;
  padding: 0px;
  display: block;
}
.delivery-amount-time-name {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: rgb(118, 118, 118);
  margin: 0px;
  padding: 0px;
  display: block;
}

.menu-container {
  display: block;
  position: relative;
  max-width: 900px;
  margin: 80px 500px 0px auto;
  padding: 0px 16px 16px;
}

.restaurant-menu-item-img {
  position: relative;
  height: 142px;
  width: 142px;
  object-fit: cover;
}

.restaurant-menu-items {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 8px));
  gap: 16px;
}
.restaurant-menu-items span {
  /* display: block; */
  border: 1px solid rgb(231, 231, 231);
  border-radius: 4px;
  display: flex;
  flex: 5 1 0%;
  flex-direction: row;

  justify-content: space-between;
  break-inside: avoid;
  text-align: left;
  transition: border 0.25s ease 0s;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: rgb(73, 73, 73);
  cursor: pointer;
}

.restaurant-menu-items-container {
  display: block;
  padding-left: 15px;
  padding-top: 15px;
  width: 350px;
}

.restaurant-menu-items-name {
  font-size: 16px;
  font-weight: 700;
  font-family: "Maven Pro", sans-serif;
  line-height: 22px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: rgb(25, 25, 25);
  margin: 0px;
  padding: 0px;
  display: block;
  font-variant-ligatures: no-common-ligatures;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurant-menu-items-description {
  padding-top: 8px;
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  color: rgb(118, 118, 118);
  font-variant-ligatures: no-common-ligatures;
  max-width: 100%;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  max-height: 45px;
}

.restaurant-menu-items-price {
  padding-top: 8px;
  font-family: "Maven Pro", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: rgb(73, 73, 73);
  display: block;
}
