@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap");

.store-info-container {
  margin: 0;
  padding: 0px;
  border: 0;
  font-size: 100%;
  text-decoration: none;
  display: block;
}

.store-header-container {
  position: relative;
  max-width: 1200px;
  margin: 80px auto 0px;
  padding: 0px 16px 16px;
}

.store-header-name {
  font-size: 50px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: #191919;
  display: block;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
}

.store-header-hours {
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: #767676;
  display: block;
  margin: 0px;
  padding: 0px;
}

.store-header-genres {
  /* width: 180px; */
  display: flex;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: #767676;
}

.store-header-genres span {
  padding-right: 10px;
}

.store-header-rating {
  display: flex;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: #767676;
  padding-right: 10px;
}

.store-header-price {
  display: flex;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: #767676;
}
.bullet-point-between {
  display: flex;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: #767676;
  padding-right: 10px;
}

.rating-price-container {
  display: flex;
}

.menu-container {
  display: block;
  position: relative;
  max-width: 1200px;
  margin: 80px auto 0px;
  padding: 0px 16px 16px;
}

.restaurant-menu-items {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 8px));
  gap: 16px;
}
.restaurant-menu-item-img {
  position: relative;
  height: 142px;
  width: 142px;
}

.restaurant-menu-items span {
  /* display: block; */
  border: 1px solid rgb(231, 231, 231);
  border-radius: 4px;
  display: flex;
  flex: 5 1 0%;
  flex-direction: row;

  justify-content: space-between;
  break-inside: avoid;
  text-align: left;
  transition: border 0.25s ease 0s;
  font-size: 16px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: rgb(73, 73, 73);
  cursor: pointer;
}

.restaurant-menu-items p {
  display: inline-block;
  /* width: 450px; */
}
